doctype html
html
  head
    title Test runner
    link(
      href = 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'
      rel  = 'stylesheet'
      type = 'text/css'
    )
  body
    div(id = 'app')
    script(src = '/app.bin')
